In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
df=pd.read_csv('/home/sh4n1/miniproj/h1.csv')

In [3]:
df.head()

,Timestamp,cpu_cores,cpu_capacity_provisioned,cpu_usage,cpu_usage_percentage,memory_capacity_provisioned,memory_usage,disk_read_throughput,disk_write_throughput,network_received_throughput,network_transmitted_throughput
0,1376314846,4,11703.99824,10912.027692,93.233333,67108864.0,6.129274e+06,0.133333,15981.600000,0.000000,2.133333
1,1376315146,4,11703.99824,10890.570362,93.050000,67108864.0,6.755624e+06,1.333333,19137.333333,0.000000,2.600000
2,1376315446,4,11703.99824,10434.114431,89.150000,67108864.0,8.947846e+06,2.533333,19974.933333,535.666667,23.933333
3,1376315746,4,11703.99824,10539.450415,90.050000,67108864.0,1.879048e+07,5.466667,8791.800000,349.666667,5.466667
4,1376316046,4,11703.99824,10951.041020,93.566667,67108864.0,9.305761e+06,5.400000,15679.533333,0.000000,2.066667

In [15]:
onlyCPU= df[['Timestamp','cpu_usage_percentage']].copy()
onlyCPU.to_csv('h1cpudata.csv',index=False)

In [16]:
def checkTable(table):
    print("============Table Data==========")
    print("\tNa Values\n")
    print(table.isna().sum())
    print("\n\tZeroes Values\n")
    for col in table.columns:
        print(f'\nColumn:{col}---------\nNumber Of Zeroes:{(table[col]==0).sum()}')
    print("\n\tNull Values\n")
    for col in table.columns:
        print(f'\nColumn:{col}---------\nNumber Of Zeroes:{table[col].isnull().sum()}')

In [17]:
checkTable(df)

============Table Data==========
	Na Values

Timestamp                         0
cpu_cores                         0
cpu_capacity_provisioned          0
cpu_usage                         0
cpu_usage_percentage              0
memory_capacity_provisioned       0
memory_usage                      0
disk_read_throughput              0
disk_write_throughput             0
network_received_throughput       0
network_transmitted_throughput    0
dtype: int64

	Zeroes Values


Column:Timestamp---------
Number Of Zeroes:0

Column:cpu_cores---------
Number Of Zeroes:0

Column:cpu_capacity_provisioned---------
Number Of Zeroes:0

Column:cpu_usage---------
Number Of Zeroes:0

Column:cpu_usage_percentage---------
Number Of Zeroes:0

Column:memory_capacity_provisioned---------
Number Of Zeroes:0

Column:memory_usage---------
Number Of Zeroes:7363

Column:disk_read_throughput---------
Number Of Zeroes:8116

Column:disk_write_throughput---------
Number Of Zeroes:0

Column:network_received_throughput---------
Number Of Zeroes:8225

Column:network_transmitted_throughput---------
Number Of Zeroes:0

	Null Values


Column:Timestamp---------
Number Of Zeroes:0

Column:cpu_cores---------
Number Of Zeroes:0

Column:cpu_capacity_provisioned---------
Number Of Zeroes:0

Column:cpu_usage---------
Number Of Zeroes:0

Column:cpu_usage_percentage---------
Number Of Zeroes:0

Column:memory_capacity_provisioned---------
Number Of Zeroes:0

Column:memory_usage---------
Number Of Zeroes:0

Column:disk_read_throughput---------
Number Of Zeroes:0

Column:disk_write_throughput---------
Number Of Zeroes:0

Column:network_received_throughput---------
Number Of Zeroes:0

Column:network_transmitted_throughput---------
Number Of Zeroes:0

In [14]:
for i in df.index:
    if df['memory_capacity_provisioned'][i]-df['memory_usage'][i]<0 :
        print(i)

In [4]:
onlyCPU.head()

    Timestamp     cpu_usage
0  1376314846  10912.027692
1  1376315146  10890.570362
2  1376315446  10434.114431
3  1376315746  10539.450415
4  1376316046  10951.041020

In [18]:
tt_split=int(len(onlyCPU.index)*67/100)
#train-67% test-33%

In [19]:
train_size = int(len(onlyCPU)*0.8)

train_data = onlyCPU.iloc[:train_size]
test_data = onlyCPU.iloc[train_size:]
train_data.to_csv('h1train.csv',index=False)
test_data.to_csv('h1train.csv',index=False)

In [20]:
print(len(onlyCPU.index),tt_split)

8634 5784

In [8]:
train_split=pd.read_csv('h1cpudata.csv',nrows=tt_split)
test_split=pd.read_csv('h1cpudata.csv',skiprows=range(1,tt_split+1))
#test and train split

In [9]:
test_split.head()

    Timestamp  cpu_usage
0  1378052015  68.273323
1  1378052315  66.322657
2  1378052615  68.273323
3  1378052915  70.223989
4  1378053215  71.059989

In [20]:
train_split.to_csv('h1train.csv',index=False)
test_split.to_csv('h1test.csv',index=False)
#done i guess