In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
df=pd.read_csv('/home/sh4n1/miniProj/h1.csv')

In [3]:
onlyCPU= df[['Timestamp','cpu_usage']].copy()
onlyCPU.to_csv('h1cpudata.csv',index=False)

In [4]:
onlyCPU.head()

    Timestamp     cpu_usage
0  1376314846  10912.027692
1  1376315146  10890.570362
2  1376315446  10434.114431
3  1376315746  10539.450415
4  1376316046  10951.041020

In [6]:
tt_split=int(len(onlyCPU.index)*7/10)
#train-70% test-30%

In [8]:
print(len(onlyCPU.index),tt_split)

8634 6043

In [15]:
train_split=pd.read_csv('h1cpudata.csv',nrows=tt_split)
test_split=pd.read_csv('h1cpudata.csv',skiprows=range(1,tt_split+1))
#test and train split

In [16]:
test_split.head()

    Timestamp    cpu_usage
0  1378129722    85.829320
1  1378130022    68.273323
2  1378130322    72.174656
3  1378130622  1576.138430
4  1378130922    78.026655

In [19]:
print(train_split['Timestamp'][6042],test_split['Timestamp'][0])
#to check if the data is overlapping

1378129422 1378129722

In [20]:
train_split.to_csv('h1train.csv',index=False)
test_split.to_csv('h1test.csv',index=False)
#done i guess